body{
    font-family: 'Poppins', sans-serif;
}

*{
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

/*topbar*/
.topbar{
    padding-top: 10px;
}
a.site-title{
    text-decoration: none;
    color: #000;
    font-size: 45px;
    font-weight: 600;
}
.phone-number{
    text-transform: uppercase;
    font-weight: 600;
}

.address{
    text-transform: uppercase;
    font-weight: 600;
}
.address__list{
    float: right;
}
.address__list ul li{
    display: inline-block;
    list-style-type: none;
}
.social-icon__list ul li{
    display: inline-block;
    list-style-type: none;
}
.fas{
    padding-top: 5px;
}
.fab {
    color: #000;
    font-size: 20px;
    padding-right: 10px;
}
.address__list a{
    float: left;
    padding-right: 20px;
}

/*menubar*/

.navbar-brand{
    display: none;
}
.bg-dark {
    background-color: #c6146f !important;
    margin-left: 10%;
    margin-right: 10%;
}

 a.nav-link{
    color: #ffffff!important;
 }
.menu{
    /*margin-top: -17px;*/
    /*margin-bottom: 1px;*/
    position: absolute;
    z-index: 1;
    width: 100%;
}

 .active-home{
     background: #af1c54;
 }
.nav-item:hover{
    background: #af1c54;
    transition: .5s ease-in;
}
a.nav-link{
    padding-left: 94px;
}

.address__list ul li i{
    color: #000000;
    font-size: 25px;
}

.address__list p{
    display: table-cell;
    padding-right: 25px;
}

.nav-link .nav-item a{
    padding-left: 30px;
}
/*carousel*/

.slider img{
    width: 100%;
}

.carousel-caption{
    padding-bottom: 259px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background: #fff;
    padding: 12px 28px;
    border-radius: 30px;
}

/*about section css*/

.pd-top,.pd-bottom {
    padding: 60px 0;
}

.welcome{
    background: #fbfafa;
}

.welcome,.pd-top,.pd-bottom {
    padding: 60px 0;
}

.welcome ul li{
    display: inline-block;
}

.welcome ul li i{
   font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.welcome .welcome__image {
    width: 300px;
    height: 300px;
    float: right;
    padding-top: 30px;
    margin-left: 90px;
}

.welcome__content h2 {
    color: #171a1d;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 6px;
    padding-left: 40px;
}

.welcome__content p{
    color: #1d2124;
    font-size:15px;
    padding-left: 40px;

}

/*about*/

 .about .about-image{
    width: 100%;
}

 .about__heading{
     color: #171a1d;
     font-size: 20px;
     font-weight: bold;
     padding-top: 20px;
 }

.about__content {
    color: #1d2124;
    font-size: 15px;
}

.about a{
    text-decoration: none;
    color:#171a1d;
    font-weight: bold;
    text-transform: uppercase;
}

/*gallery*/
.gallery h2{
    text-transform: uppercase;
    border-left: 8px solid #c6146f;
    padding-left: 12px;
}
.isotope{
    padding: 40px 0;
    background: #c6146f2e;
}

.container{
    /*width: 90%;*/
    margin: 10px auto;
    padding-left: 30px;
}
.portfolio-menu{
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-menu ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 15px;
    border: 1px solid #c6146f;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
}
.portfolio-menu ul li:hover{
    background: #c6146f;
    color: #fff;
    transition:.5s ease-in-out;
}

.portfolio-item{
    width: 100%;
    margin-left: 79px;
}

.portfolio-item .item img{
    width: 303px;
    float:right;
    margin-bottom: 10px;
    margin-right: 20px;
}

li.active{
    background: #af1c54;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px 40px;
}

/*service*/

.service{
    background-image: url("../images/service/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 600px;
}

.service-box{
    width: 350px;
    height: 200px;
    background: #ffffff;
    padding: 30px;
}

.m-top{
    margin-top: 50px;
}

.service-box .service__image{
    margin-right: 25px;
    line-height: 55px;
    text-align: left;
    float: left;
}

.service h2{
    padding: 20px 10px;
    border-left: 8px solid #c6146f;
    line-height: 2px;
}

.service-box p{
    display: table-cell;
    font-size: 14px;
}

/*contact*/

.contact{
    background-image: url("../images/about/about1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
}

.overlay{
    position: relative;
}

.overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color:#c6146f;
    opacity: 0.8;
}

.contact-m-top{
    margin-top: 30px;
}

.contact__icon{
    font-size: 60px;
    color: #ffffff;
}

.contact h2{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.contact p {
    color: #ffffff;
    font-size: 15px;
}

.contact a{
    text-decoration: none;
    color:#5a6268;
    background: #fff3cd;
    padding: 10px 15px;
    float: right;
    border-radius: 3px;
}


/*blog */

.news h2{
    padding: 20px 10px;
    border-left: 8px solid #c6146f;
    line-height: 2px;
}

.news-one{
    margin-top: 40px;
}
image{
    width: 100%;
}
.news-box{
    background: #ffffff;
    border: solid 1px #ebeaea;
    float: left;
    width: 350px;
    padding: 25px;
    margin-left: 150px;
    margin-top: -150px;
    position: relative;
}
.news-box h3 a{
    color: #171a1d;
    text-decoration: none;
}

.author{
    text-transform: uppercase;
    color: #5a6268;
    font-size: 12px;

}
.author a{
    text-decoration: none;
    color: #c6146f;
    padding-right: 20px;
    font-size: 12px;
}
.news__date{
    font-weight: normal;
    color: #5a6268;
    font-size: 12px;
}
.news-box p{
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.news__link{
    background:#c6146f ;
    padding: 10px 10px;
    color: #ffffff;

}

a.news__link{
    text-decoration:none;
}
a.news__link:hover{
    color: #ffffff;
}

/*partner*/

.partner h2{
    padding: 20px 10px;
    border-left: 8px solid #c6146f;
    line-height: 2px;
}

.partner-list img{
    width: 170px;
}
.partner-list ul li{
    list-style-type: none;
    display: inline-block;
}

/*footer css*/

.footer {
    background: #000;
    padding: 60px 0;
}

.footer-title{
    border-left: 6px solid #c6146f;
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.first-letter{
    color: #c6146f;
    font-size: 25px;
}
.info{
    color: #9e9797;
    cursor: pointer;
}
.info-address{
    color:#343a40;
    font-weight: 600;
}
.list > ul>li > a {
    text-decoration: none;
    list-style-type: none;
    color: #9e9797;
}
.list > ul>li > a::before {
    content:'>';
    /*position: absolute;*/
    padding-right: 10px;
}
.list > ul>li {
    list-style-type: none;

}

.list > ul>li > a:hover {
    color: #117a8b;
}

.send-email::after{
    content: '>';
    color: #fff;
    background: #af1c54;
    padding: 3px 16px;
}

a.send-email{
    text-decoration: none;
}

.text-color{
    color: #9e9797;
    font-size: 14px;
}

/*responsive*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-brand{
        display: initial;
    }
    .carousel-caption{
    padding-bottom: 10px;
    }
    .carousel__header{
        font-size: 24px;
    }
    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
        background: #fff;
        padding: 5px 8px;
        border-radius: 30px;
    }

    .welcome__image{
        padding-bottom: 30px;
        margin-right: 61px;
        margin-top: -61px;
    }
    .welcome__content p{
        text-align: left;
        padding-right: 20px;
    }

    .about__image{
        width: 317px;
    }
    .about__content{
        padding-right: 30px;
    }
    .about .about-box{
        padding-bottom: 30px;
    }

    .portfolio-item {
        margin-left: 48px;
    }
    .portfolio-menu ul li {
        margin-top: 6px;
    }
    .portfolio-item .item img {
        width: 303px;
        border: 6px solid #fff;
    }
    .service-box{
        padding-bottom: 20px;
    }
    .service-cover{
        padding-bottom: 20px;
    }
    .contact .contact__icon{
        font-size: 42px;
    }
    .contact h2{
        font-size: 17px;

    }
    .contact p{
        font-size: 12px;
    }
    .contact a{
        padding: 6px 6px;
        float: left;
        border-radius: 3px;
        font-size: 10px;
    }
    .news-box {
        margin-left: 0;
        margin-top: 12px;
        width: 371px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*.navbar-brand{*/
        /*display: initial;*/
    /*}*/
    .carousel-caption{
        padding-bottom: 60px;
    }
    .carousel__header{
        font-size: 24px;
    }

    .bg-dark {
        background-color: #c6146f !important;
    }
    a.nav-link{
        font-size: 10px;
    }
    .welcome .welcome__image {
        float: left;
        padding-right: 30px;
        margin-bottom: 40px;
        width: 350px;
    }
    .about-box{
        margin-bottom: 20px;
    }
    .portfolio-menu ul li{
        margin-bottom: 14px;
    }
    .portfolio-item .item img {
        width: 428px;
        height: 448px;
        padding-bottom: 30px;
        margin-left: -30px;
    }
    .service-cover{
        padding-bottom: 30px;
    }
    .service-box {
        width: 435px;
        padding: 36px;
    }
    .contact a{
        float: left;
    }
    .contact__icon{
        padding-bottom: 17px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    a.site-title {
        font-size: 35px;
    }

    .social-icon__list{
        width: 157px;
        padding-top: 30px;
    }
    .social-icon__list ul li{
        font-size: 20px;
    }

    a.nav-link{
        font-size: 14px;
    }
    .welcome .welcome__image {
        float: left;
        padding-right: 30px;
        margin-bottom: 40px;
        width: 350px;
    }
    .welcome__content h2 {
        font-size: 24px;
    }
    .welcome__content p{
        font-size: 12px;
    }
    img.about__image{
        width: 228px;
    }
    .about__content {
        font-size: 13px;
    }
    .about a {
        font-size: 12px;
    }
    .portfolio-item .item img {
        width: 305px;
        height: 207px;
        padding-bottom: 2px;
        border: 12px solid #fff;
    }
    /*.exterior{*/
        /*position: absolute;*/
        /*left: 0;*/
        /*top: 0;*/
        /*right: 415px;*/
    /*}*/

    .service-box .service__image {
        width: 50px;
    }
    .service-box h3 {
        font-size: 20px;
    }
    .service-box p{
        font-size: 16px;
        padding-right: 30px;
    }
    .service-cover {
        padding-bottom: 30px;
        margin-right: 148px;
        height: 238px;
    }
    .service-box {
        width: 587px;
        padding: 36px;
    }
    .contact__icon {
       margin-right: 20px;
        font-size: 50px;
    }
    img.about__image {
        width: 337px;
    }
    .news-box {
        width: 339px;
        padding: 17px;
        margin-left: -3px;
        margin-top: 19px;
    }
    .news-box h3 a {
        font-size: 26px;
    }
    .news-box p {
        font-size: 16px;
    }
    .portfolio-item {
        width: 100%;
        margin-left: 79px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carousel-caption{
        padding-bottom: 148px;
    }
    .carousel-caption h3{
        font-size: 42px;
    }
    .carousel-caption p{
        font-size: 24px;
    }
    a.nav-link{
        font-size: 16px;
    }
    .welcome .welcome__image {
        float: right;
        width: 400px;
    }
    .welcome__content h2 {
        font-size: 30px;
    }
    .welcome__content p{
        font-size: 16px;

    }
    img.about__image {
        width: 299px!important;
    }
    .about__heading{
        font-size: 24px;
    }
    .about__content {
        font-size: 16px;
    }
    .about a {
        font-size: 14px;
    }

    /*.portfolio-item .item img {*/
        /*width: 305px;*/
        /*height: 207px;*/
        /*padding-bottom: 2px;*/
        /*border: 12px solid #fff;*/
    /*}*/

    .service-box .service__image {
        width: 50px;
    }
    .service-box h3 {
        font-size: 20px;
    }
    .service-box p{
        font-size: 16px;
        padding-right: 30px;
    }
    .service-cover {
        padding-bottom: 30px;
        margin-right: 148px;
        height: 238px;
    }
    .service-box {
        width: 587px;
        padding: 36px;
    }
    /*.contact__icon {*/
        /*margin-right: 20px;*/
        /*font-size: 50px;*/
    /*}*/
    /*img.about__image {*/
        /*width: 337px;*/
    /*}*/
    /*.news-box {*/
        /*width: 339px;*/
        /*padding: 17px;*/
        /*margin-left: -3px;*/
        /*margin-top: 19px;*/
    /*}*/
    /*.news-box h3 a {*/
        /*font-size: 26px;*/
    /*}*/
    /*.news-box p {*/
        /*font-size: 16px;*/
    /*}*/
    /*.portfolio-item {*/
        /*width: 100%;*/
        /*margin-left: 79px;*/
    /*}*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}